<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.transaction.dao.TTransactionBlockDao">
    
    <select id="queryBlockInfo" resultType="com.example.transaction.entity.block.BlockInfo">
        SELECT block_index as blockIndex,
               current_block_index as currentBlockIndex
        FROM t_block_info
        LIMIT 1
    </select>

    <update id="updateBlock" parameterType="com.example.transaction.entity.block.BlockInfo">
        UPDATE t_block_info
        SET block_index = #{blockIndex},
            current_block_index = #{currentBlockIndex}
    </update>
    
</mapper> 